.tab-link {
    display: flex;
    position: relative;
    background: white;
    border-radius: 10px;
    justify-content: center;
    background: linear-gradient(to top, #1F1B2C, #352e4c);
    box-shadow: 2px 2px 2px 2px #000;
}

.tab-link li {
    list-style: none;
}

.tab-link a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 24px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}

.tab-link .link-hover{
    margin-top: 5px;
    color: #0d6efd;
}

#btnAuth{
    box-shadow: 6px 6px 10px 3px #000;
}

#btnAuth:hover{
    box-shadow: 4px 0px 12px 0px #000;
}
